#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie-card{
    width: 300px;
    margin: 10px;
}

.movie-info p{
    color: var(--secondary-color);
}

.movie-card img:hover{
    border: 3px solid var(--secondary-color);
}