.jumbotron{
    background-color: var(--secondary-color-dark);
}

.card-text{
    color: var(--secondary-color-dark);
}

#body-new{
    background-image: url(../assets/img/fondo-ceremonia-premios.jpg);
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}